* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Play', sans-serif;
}

.green{
    background-color:  rgb(2, 88, 101, 0.8);
}

body {
    display: inline-block;
}

.conteiner {
    width: 100%;
    margin: auto;
    box-sizing: border-box;

}
/*                                         HEADER                                            */

header {
    background-color: rgb(2, 88, 101, 0.8);
    height: 100px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

.hlogo {
    width: 150px;
}

/*                                         MENUNAV                                            */

.belong {

    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-image: url(../images/handsup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    
}

nav {
   position: relative;
    
}


.menu {
    padding: 15px;
    width: 100%;
    list-style: none;
    background-color: rgb(255, 255, 255, 0.5);
    box-sizing: border-box;
    text-align: center;
}

ul {
    text-align: center;
    display: inline-block;
}

li {
    list-style: none;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    color: black;
}

li:hover {
    color: rgb(2, 88, 101, 0.5);
    font-weight: 900;
    text-decoration: none;
}

.pertencerconteiner {
    margin: auto;
}

.txttituloinicio h1 {
    font-size: 5em;
    color: white;
    text-align: center;
    margin-top: 100px;
    font-weight: 900;
    text-shadow: 1px 1px gray;
    letter-spacing: 5px;
}

.txttituloinicio p {
    font-size: 1.5em;
    color: white;
    text-align: center;
    font-weight: 900;
    text-shadow: 1px 1px gray;
}

input[type="button"] {
    width: 200px;
    background: center;
    border: 1px solid rgb(255, 255, 255, 0.4);
    color: rgb(255, 255, 255, 0.8);
    font-weight: 900;
    padding: 10px;
}

.square {
    width: 10px;
    height: 500px;
    background-color: yellow;
}

.btposition a {
    text-decoration: none;
    color: white;
    margin: auto;
    border: solid 2px white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    margin: auto;
}

.btposition a:hover {
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
    border: solid 2px rgb(255, 255, 255, 0.8);
}


/*                                         DESCRIPTION                                             */

.description {
    width: 100%;
    background-color: #eeeded;
    overflow: hidden;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    

}

.txtdescription {
    display: inline-block;
    position: relative;
    max-width: 49%;
    background-color: #eeeded;
    font-size: 0.8em;
    padding: 50px;
}

.txtdescription h2 {
    color: rgb(59, 59, 59);
    font-weight: 900;
    margin-bottom: 35px;
}

.txtdescription h3 {
    font-family: 'Alex Brush', cursive;
    font-size: 3em;
    margin-top: 18px;
    margin-bottom: 10px;
}

.pastor img {
 width: 401px;
height: 100%;

}

.espaçamento h2, p {
    margin-top: 10px;
}

/*                                         NEWS                                            */
.newstitle {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgb(2, 88, 101, 0.8);
    color: white;
    letter-spacing: 4px;
    box-sizing: border-box;
}

.newstitle h2 {
    position: relative;
    top: -10px;
    display: inline-block;
}

.iconigreja {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 50px;
}

/*                                         VALORES                                            */

.ourvalues{
    width: 100%;
    padding: 80px 50px 80px 50px;
    background-color: rgb(235, 236, 215);
    text-align: center;
    box-sizing: border-box;
}

.ourtitle{
    text-align: center;
    color: #5D5D5D;
    margin-bottom: 30px;
}

.ourtitle h2{
    font-weight: 900;
    font-size: 2em;
}

.ourtitle p{
    color:rgb(93,93,93, 0.5);
    font-size: 1em;
}

.valuesconteiner{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.valuesimg{
   border: solid 2px black;
   border-radius: 50%;
   width: 70px;
   padding: 20px;
   text-align: center;
   display: inline-block;
   margin: 20px;
}

.valuesconteiner h3{
    font-size: 1em;
    font-weight: 900;
}

.valuesconteiner p{
    color: rgb(93,93,93, 0.5);
}

/*                                          COLLEGE                                 */

.titlecollege{
    width: 100%;
    background-color: rgb(2, 88, 101, 0.8);
}

.titleconteudo{
    text-align: center;
    padding: 25px;
    
}

.titleconteudo h2{
    display: inline-block;
    color: white;
}

.college{
    width: 100%;
    background-image: url(../images/holy-bible.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.radiuspastor{
   display: inline-block;
    margin: 15px;
}

.radiuspastor img{
    width: 250px;
    border-radius: 50%;
}

.radiuspastor h4{
    font-size: 1.5em;
    margin: 8px;
    color: rgb(71, 70, 70);
    font-weight: 900;
    letter-spacing: 1px;
}

.radiuspastor h5{
    font-size: 1em;
    margin: 8px;
    color: rgb(71, 70, 70);
    font-weight: 900;
    letter-spacing: 0.8px;
}


.collegeconteudo{
    margin: auto;
    display: inline-block;
    color: rgb(71, 70, 70);;
}

.collegeconteudo a{
    border: solid 1px rgb(71, 70, 70);;
    padding: 10px;
    text-decoration: none;
    color: rgb(71, 70, 70);;
    margin-top: 100px;
}

.collegeconteudo a:hover{
    background-color: rgb(167, 161, 161);
    color: black;
    border: none;
    
}

.matposition{
    margin-top: 25px;
}



/*                       FOOTER                                             */


.conteinerfooter{
    width: 100%;
    background-color: rgb(2, 88, 101, 0.8);
    padding: 30px;
    box-sizing: border-box;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8em;

    
}

.logofooter{
   display: inline-block;
}

.logofooter img{
    width: 200px;
    
}

.footercontact{
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-left: 15px;

}

.footercontact h4{
    font-size: 1.5em;
}

.footercontact img{
    width: 35px;
}

.footercontact p{
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
}

.siganos{
    display: inline-block;
    margin-left: 10px;
    padding: 15px
   
}

.siganos h4{
    font-size: 1.5em;
}

.siganos p{
    display: inline-block;
}




/*                                     MEDIA QUERY                         */

@media screen and (max-width: 981px){

    /* BELONG*/

    .belong {

        background-position: 50%;
        background-attachment: scroll;
        
    }

    /* Description */

    .description {
        width: 100%;
        background-color: #eeeded;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        display: block;
        flex-direction: row;
        flex-wrap: nowrap;
    
    }

    .txtdescription {
        flex-wrap: wrap;
        position: relative;
        width: 300px;
        background-color: #eeeded;
        font-size: 0.8em;
        padding: 50px;
    }

    .pastor img {
        display: none;
        width: 0px;
    }

    /* COLLEGE */
    
    
    
    .radiuspastor h4{
        color: rgb(48, 48, 48);
        font-weight: 900;
        text-shadow: 1.5px 1.5px rgb(255, 255, 255);
    }
    
    .radiuspastor h5{
        color: rgb(48, 48, 48);
        font-weight: 900;
        text-shadow: 1.5px 1.5px rgb(255, 255, 255);
    }
    
    
    .collegeconteudo{
        color: rgb(48, 48, 48);
        font-weight: 900;
        text-shadow: 1.5px 1.5px rgb(255, 255, 255);
    }
    
    .collegeconteudo a{
        color: rgb(48, 48, 48);
        font-weight: 900;
        text-shadow: 1.5px 1.5px rgb(255, 255, 255);
    }
    
    .collegeconteudo a:hover{
        color: rgb(48, 48, 48);
        font-weight: 900;
        text-shadow: 1.5px 1.5px rgb(255, 255, 255);
        
    }

    /* FOOTER */
   
    
    .footercontact img{
        width: 20px;
    }
    
    .footercontact p{
        font-size: 0.8em;
    }
    
}  


